<% @devices = @registration.devices.page(@current_page).per(@per_page) %>
<% @user = @registration.user %>

<div id="div_registration_show">
	
	<div class="row">

		<div class="col-md-3 col-sm-6 col-xs-6" style="border-right:1px solid #f1f1f1;">
	  	<% if @current_user.super_admin? %>
	  		<%= edit_image(@user, 
            "profile_picture.image.large.url",
            upload_image_link(@user, :profile_picture, nil ),
            remove_image_link(@user, :profile_picture, nil ),
            image_options: {assoc_name: :profile_picture }) %>
      <% else %>
      	<%= display_image(@user, "profile_picture.image.large.url", class: "img-circle img-inline userpic-32", alt: @user.display_name) %>
      <% end %>
	  </div>
	  
	  <div class="col-md-6 col-sm-6 col-xs-6" style="border-right:1px solid #f1f1f1;">

	  	<div class="visible-sm visible-xs mt-50"></div>

	  	<% if @user %>
	  		<%= theme_panel_heading(@user.display_name) %>
	  		<%= theme_panel_sub_heading(@registration.display_name, "#") %>
	  	<% else %>
	  		<%= theme_panel_heading(@registration.display_name) %>
	  	<% end %>
	  	<br>

	  	<% if @registration.pending? %>
				<span class="ml-5 mt-5 label label-default">Pending</span>
			<% elsif @registration.verified? %>
				<span class="ml-5 mt-5 label label-success">Verified</span>
			<% end %>

	    <%= clear_tag(10) %>

	    <div class="visible-sm visible-xs mb-50"></div>

	    </div>

	  <div class="col-md-3 col-sm-12 col-xs-12">

	  	<!-- Mark as Pending -->
	    <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Mark as Pending"), update_status_registration_path(:id =>@registration.id, :status =>'pending'), :method =>'PUT', :remote=>true, class: "btn btn-block btn-white btn-only-hover" unless @registration.pending? %>
	    
	    <!-- Verify -->
	    <%= link_to raw("<i class=\"fa fa-check mr-5\"></i> Verify"), update_status_registration_path(:id =>@registration.id, :status =>'verified'), :method =>'PUT', :remote=>true, class: "btn btn-block btn-success" unless @registration.verified? %>

	    <!-- Suspend -->
	    <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Suspend"), update_status_registration_path(:id =>@registration.id, :status =>'suspended'), :method =>'PUT', :remote=>true, class: "btn btn-block btn-danger btn-only-hover" unless @registration.suspended? %>

	  	<%# edit_link = edit_registration_path(id: @registration.id) %>
			<%# delete_link = registration_path(id: @registration.id) %>

			<%#= link_to raw("<i class=\"fa-pencil\"></i> Edit Registration"), edit_link, :remote=>true, class: "btn btn-block btn-success" if @current_device.super_admin? and @registration.can_be_edited? %>

	    <%#= link_to raw("<i class=\"fa-trash\"></i> Delete Registration"), delete_link, method: :delete, registration: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "btn btn-block btn-danger btn-only-hover" if @current_device.super_admin? and @registration.can_be_deleted? %>

	    <div class="visible-sm visible-xs mb-50"></div>

	  </div>

	</div>

	<%= clear_tag(50) %>

	<ul class="nav nav-pills">

		<li class="active">
	    <a href="#registration_info" data-toggle="tab" aria-expanded="false">
	      <span class="visible-xs"><i class="fa-database"></i></span>
	      <span class="hidden-xs">Registration Info</span>
	    </a>
	  </li>

	  <li class="">
	    <a href="#profile_info" data-toggle="tab" aria-expanded="false">
	      <span class="visible-xs"><i class="fa-database"></i></span>
	      <span class="hidden-xs">Profile Info</span>
	    </a>
	  </li>

		<li class="">
	    <a href="#registration_devices" data-toggle="tab" aria-expanded="false">
	      <span class="visible-xs"><i class="fa-database"></i></span>
	      <span class="hidden-xs">Devices</span>
	    </a>
	  </li>

	  
	</ul>

	<div class="tab-content">

		<div class="tab-pane active" id="registration_info" style="border: 1px solid #000;min-height:200px;padding:20px;margin-bottom:20px;max-height: 400px;overflow-y: auto;">
	    
	    <%= clear_tag(20) %>

	    <div class="table-responsive"> 
				<table class="table table-striped table-condensed table-bordered mb-30"> 
					<tbody>
						
						<tr>
							<th>ID</th><td><%= @registration.id %></td>
							<th>User / Profile ID</th><td><%= @registration.user_id %></td>
						</tr>

						<tr>
							<th>Status</th><td>
								<% if @registration.pending? %>
									<span class="label label-default">Pending</span>
								<% elsif @registration.verified? %>
									<span class="label label-success">Verified</span>
								<% elsif @registration.suspended? %>
		    				  <span class="label label-danger">Suspended</span>
								<% end %>
							</td>
							<th></th><td></td>
						</tr>

						<tr>
							<th>Country</th><td><%= @registration.country.try(:display_name) %></td>
							<th>City</th><td><%= @registration.city.try(:display_name) %></td>
						</tr>

						<tr>
							<th>Dialing Prefix</th><td><%= @registration.dialing_prefix %></td>
							<th>Mobile Number</th><td><%= @registration.mobile_number %></td>
						</tr>
						
						<tr>
							<th>Created At</th><td><%= @registration.created_at.strftime("%m/%d/%Y - %H:%M:%S") if @registration.created_at %></td>
							<th>Updated At</th><td><%= @registration.updated_at.strftime("%m/%d/%Y - %H:%M:%S") if @registration.updated_at %></td>
						</tr>

					</tbody>
				</table>
			</div>
	  </div>

	  <div class="tab-pane" id="profile_info" style="border: 1px solid #000;min-height:200px;padding:20px;margin-bottom:20px;max-height: 400px;overflow-y: auto;">
	    
	    <%= clear_tag(20) %>

	    <div class="table-responsive mt-30"> 
		    <table class="table table-striped table-condensed table-bordered"> 
					<tbody>
						
						<tr>
							<th>Name</th><td><%= @user.try(:name) %></td>
							<th>Username</th><td><%= @user.try(:username) %></td>							
						</tr>

						<tr>
							<th>Email</th><td><%= @user.try(:email) %></td>
							<th>Phone</th><td><%= @user.try(:phone) %></td>
						</tr>

						<tr>
							<th>Gender</th><td><%= @user.gender %></td>
							<th>Date of Birth</th><td><%= @user.date_of_birth.strftime("%m/%d/%Y") if @user.date_of_birth %></td>
						</tr>

						<tr>
							<th>Designation</th><td><%= @user.try(:designation) %></td>
							<th>Status</th><td>
								<% if @user.pending? %>
									<span class="label label-default">Pending</span>
								<% elsif @user.approved? %>
									<span class="label label-success">Approved</span>
								<% elsif @user.suspended? %>
									<span class="label label-danger">Suspended</span>
								<% end %>
							</td>
						</tr>

						<% if @current_user.super_admin? %>
						<tr>
							<th>Dummy?</th><td><%= @user.dummy.to_s.titleize %></td>
							<th>Super Admin</th><td><%= @user.super_admin?.to_s.titleize %></td>
						</tr>
						<% end %>
						
					</tbody>
				</table>
			</div>

	  </div>

		<div class="tab-pane" id="registration_devices" style="border: 1px solid #000;min-height:200px;padding:20px;margin-bottom:20px;max-height: 400px;overflow-y: auto;">
	    
	    <%= clear_tag(20) %>

	    <div id="div_device_action_buttons">
        <div class="row">
          <div class="col-md-6">
            <%= theme_button('Refresh', 'refresh', registration_devices_path(@registration), classes: "pull-left", btn_type: "white") %>
          </div>
          <div class="col-md-6">
            <%= search_form_kuppayam(Registration, registration_devices_path(@registration), text: "") %>
          </div>
        </div>
      </div>
      <%= clear_tag(10) %>

      <div id="div_device_index">
      	<%= render :partial=>"usman/registration_devices/index" %>
      </div>
	  </div>

	  

	</div>

	<%= link_to "Close", "#", onclick: "closeLargeModal();", class: "btn btn-primary pull-right" %>

	<%= clear_tag %>
</div>