<%
	items = {
		users: {
			counts: {
				total: User.normal_users.count,
				approved: User.normal_users.approved.count,
				pending: User.normal_users.pending.count,
				suspended: User.normal_users.suspended.count
			},
			text: "Users",
			icon_class: "fa-user",
			url: usman.users_url
		},
		registrations: {
			counts: {
				total: Registration.count,
				pending: Registration.pending.count,
				verified: Registration.verified.count
			},
			text: "Registrations",
			icon_class: "fa-mobile",
			url: usman.registrations_url
		}
	}
%>

<h3 class="text-gray mt-50 mb-10">
	Admin <br>
	<small class="text-muted">Manage Users and much more...</small>
</h3>
<hr class="mb-30" style="border-top:1px solid #ddd;">

<div class="row">

	<% items.each do |key, values| %>
	<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
		
		<div class="xe-widget xe-vertical-counter xe-vertical-counter-white" data-count=".num" data-from="0" data-to="128" data-duration="4">
			<div class="xe-icon">
				<i class="<%= values[:icon_class] %>"></i>
			</div>
			
			<div class="xe-label">
				<strong class="num"><%= values[:text] %></strong>
			</div>

			<div class="xe-label" style="margin-top:10px; margin-bottom: 10px;height: 100px; overflow-y: auto;">
				<% values[:counts].each do |count_text, count_value| %>
				<span><%= count_text.to_s.titleize %>: <strong><%= count_value %></strong></span>
				<% end %>
			</div>

			<div class="xe-label">
				<span><%= link_to("Manage", values[:url], class: "btn btn-sm btn-primary btn-block") %></span>
			</div>
		</div>
		
	</div>
	<% end %>
</div>

<% if @current_user.super_admin? %>
	<%
		items = {
			features: {
				counts: {
					total: Feature.published.count
				},
				text: "Features",
				icon_class: "linecons-diamond",
				url: usman.features_url
			},
			roles: {
				counts: {
					total: Role.count
				},
				text: "Roles",
				icon_class: "linecons-graduation-cap",
				url: usman.roles_url
			},
			permissions: {
				counts: {
					total: Permission.count
				},
				text: "Permissions",
				icon_class: "fa-lock",
				url: usman.permissions_url
			},
			
		}
	%>

	<h3 class="text-gray mt-50 mb-10">
		Super Admin <br>
		<small class="text-muted">Manage Features, Permissions and other super admin modules</small>
	</h3>
	<hr class="mb-30" style="border-top:1px solid #ddd;">

	<div class="row">

		<% items.each do |key, values| %>
		<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
			
			<div class="xe-widget xe-vertical-counter xe-vertical-counter-white" data-count=".num" data-from="0" data-to="128" data-duration="4">
				<div class="xe-icon">
					<i class="<%= values[:icon_class] %>"></i>
				</div>
				
				<div class="xe-label">
					<strong class="num"><%= values[:text] %></strong>
				</div>

				<div class="xe-label" style="margin-top:10px; margin-bottom: 10px;height: 100px; overflow-y: auto;">
					<% values[:counts].each do |count_text, count_value| %>
					<span><%= count_text.to_s.titleize %>: <strong><%= count_value %></strong></span>
					<% end %>
				</div>

				<div class="xe-label">
					<span><%= link_to("Manage", values[:url], class: "btn btn-sm btn-primary btn-block") %></span>
				</div>
			</div>
			
		</div>
		<% end %>
		
	</div>
<% end %>


<div class="dx-warning">
	<div>
		<h2>Usman - API Documentation</h2>
		<p>All APIs are documented with all cases and examples.</p>
		<a class="btn btn-success" href="/docs/api/v1/register" target="_blank">Go to the API Documentation</a>
	</div>
</div>
