<% edit_link = edit_permission_path(id: permission.id) %>
<% delete_link = permission_path(id: permission.id) %>

<tr id="tr_permission_<%= permission.id %>">
          
  <td class="permission-name"><%= permission.user.try(:name) %></td>

  <td class="permission-name"><%= permission.feature.try(:display_name) %></td>

  <td class="permission-name" style="text-align: center"><%= permission.can_create ? raw("<i class='fa fa-check'></i>") : "-" %></td>

  <td class="permission-name" style="text-align: center"><%= permission.can_read ? raw("<i class='fa fa-check'></i>") : "-" %></td>

  <td class="permission-name" style="text-align: center"><%= permission.can_update ? raw("<i class='fa fa-check'></i>") : "-" %></td>

  <td class="permission-name" style="text-align: center"><%= permission.can_delete ? raw("<i class='fa fa-check'></i>") : "-" %></td>

  <% if display_manage_links? %>
  <td class="action-links1" style="width:10%;text-align: center;">

    <%= link_to raw("<i class=\"fa-pencil\"></i>"), edit_link, :remote=>true, class: "edit" if display_edit_links? %>

    <%= link_to raw("<i class=\"fa-trash\"></i>"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" if display_delete_links? %>

  </td>
  <% end %>

</tr>