<%= form_for([:admin, @permission], :html => {:id=>"form_permission", :class=>"mb-0 form-horizontal", :role => "form", :method => (@permission.new_record? ? :post : :put), :remote=>true}) do |f| %>

      <div id="permission_form_error">
        <%= @permission.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">
        
        <% options = {assoc_collection: User.select("id, name").order("name ASC").all, required: true, editable: true, assoc_display_method: :name} %>
        <%= theme_form_assoc_group(@permission, :user_id, **options) %>

        <% options = {assoc_collection: Feature.select("id, name").order("name ASC").all, required: true, editable: true, assoc_display_method: :name} %>
        <%= theme_form_assoc_group(@permission, :feature_id, **options) %>

        <div class="form-group ">
          <label class="col-md-4 control-label">  
            Permissions
            <span class="text-color-red ml-10 mr-5 pull-right">*</span>
          </label>

          <div class="col-md-8">
            
            <div class="row">
              <div class="col-sm-3">
                <span>
                  <% checked_hash = @permission.can_create ? {:checked => "checked"} : {} %>
                  <%= check_box_tag 'permission[can_create]', "1", @permission.can_create, checked_hash %>
                </span>
                <span style="ml-20">Create</span>
              </div>

              <div class="col-sm-3">
                <span>
                  <% checked_hash = @permission.can_read ? {:checked => "checked"} : {} %>
                  <%= check_box_tag 'permission[can_read]', "1", @permission.can_read, checked_hash %>
                </span>
                <span style="ml-20">Read</span>
              </div>

              <div class="col-sm-3">
                <span>
                  <% checked_hash = @permission.can_update ? {:checked => "checked"} : {} %>
                  <%= check_box_tag 'permission[can_update]', "1", @permission.can_update, checked_hash %>
                </span>
                <span style="ml-20">Update</span>
              </div>

              <div class="col-sm-3">
                <span>
                  <% checked_hash = @permission.can_delete ? {:checked => "checked"} : {} %>
                  <%= check_box_tag 'permission[can_delete]', "1", @permission.can_delete, checked_hash %>
                </span>
                <span style="ml-20">Delete</span>
              </div>
            </div>
            
          </div>
        </div>

      </div>
    
      <div>
        <%= link_to raw("<i class='fa fa-close mr-5'></i><span>Cancel</span>"), "#", onclick: "closeGenericModal();", class: "pull-left btn btn-white" %>
        <%= submit_tag("Save", :class=>"btn btn-secondary pull-right") %>
      </div>
      <%= clear_tag(10) %>
  </div>

<% end %>

