<div class="table-responsive"> 
	<table class="table table-hover members-table middle-align">
	  <thead> 
			<tr> 
				<th style="text-align: center;width:60px">#</th> 
				<th>Status</th>
				<th>UUID</th>
				<th>Device Token</th>
				<th>Device Name</th>
				<th>Device Type</th>
				<th>Operating System</th>
				<th>Software Version</th>
				<th>Last Accessed at</th>
				<th>Last Accessed API</th>
				<% if @current_user.super_admin? %>
					<th>OTP</th>
				<% end %>
				<th>OTP Sent at</th>
				<th style="text-align: center;" colspan="2">Actions</th>
			</tr>  
		</thead>
		
	  <tbody>
	  	<% @devices.each_with_index do |device, i| %>
	  			
	  		<%# delete_link = registration_device_path(@registration, device) %>
				
		    <tr id="tr_device_<%= device.id %>">
		      
		      <th scope="row" style="text-align: center;">
						<% if i < 0 %>
							<i class="fa fa-check text-success"></i>
						<% else %>
							<%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
						<% end %>
					</th>

					<td>
						<% if device.pending? %>
							<span class="ml-5 mt-5 label label-default">Pending</span>
						<% elsif device.verified? %>
							<span class="ml-5 mt-5 label label-success">Verified</span>
						<% elsif device.blocked? %>
							<span class="ml-5 mt-5 label label-danger">Blocked</span>
						<% end %>
					</td>

					<td class="device-name"><%= device.uuid %></td>
					<td class="device-name"><%= device.device_token %></td>
					<td class="device-name"><%= device.device_name %></td>
					<td class="device-name"><%= device.device_type %></td>
					<td class="device-name"><%= device.operating_system %></td>
					<td class="device-name"><%= device.software_version %></td>
					<td class="device-name"><%= device.last_accessed_at %></td>
					<td class="device-name"><%= device.last_accessed_api %></td>
					
					<% if @current_user.super_admin? %>
						<td class="device-name"><%= device.otp %></td>
					<% end %>
					
					<td class="device-name"><%= device.otp_sent_at %></td>

					<td class="action-links" style="width:10%">

		      	<%#= link_to raw("<i class=\"linecons-trash\"></i> Remove Role"), delete_link, method: :delete, device: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" %>

		      </td>

		    </tr>
		  <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= paginate_kuppayam(@devices) %>
  </div>
</div>

