<tr id="tr_device_<%= device.id %>">
          
  <th scope="row" style="text-align: center;">
    <% if i < 0 %>
      <i class="fa fa-check text-success"></i>
    <% else %>
      <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
    <% end %>
  </th>

  <td class="device-name" style="font-weight:bold;"><%= link_to device.uuid, registration_device_path(registration_id: device.registration_id, id: device.id), remote: true %></td>
  <td>
    <% if device.pending? %>
      <span class="ml-5 mt-5 label label-default">Pending</span>
    <% elsif device.verified? %>
      <span class="ml-5 mt-5 label label-success">Verified</span>
    <% elsif device.blocked? %>
      <span class="ml-5 mt-5 label label-danger">Blocked</span>
    <% end %>
  </td>

  <td class="device-name"><%= device.device_name %></td>
  <td class="device-name"><%= device.device_type %></td>
  
  <% if display_delete_links? %>
  <% delete_link = registration_device_path(@registration, device) %>
  <td class="action-links" style="width:10%"> -->

    <%= link_to raw("<i class=\"linecons-trash\"></i> Remove Role"), delete_link, method: :delete, device: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" %>

  </td>
  <% end %>

</tr>