<div class="sidebar-menu toggle-others fixed collapsed">
	
	<div class="sidebar-menu-inner">
		
		<header class="logo-env">
			
			<!-- logo -->
			<div class="logo">
				<a href="/" class="logo-expanded">
					<img src="/assets/logo.png" width="180" alt="" />
				</a>
				
				<a href="/" class="logo-collapsed">
					<img src="/assets/logo-small.png" width="40" alt="" />
				</a>
			</div>
			
			<!-- This will toggle the mobile menu and will be visible only on mobile devices -->
			<div class="mobile-menu-toggle visible-xs">
				<a href="#" data-toggle="user-info-menu">
					<i class="fa-bell-o"></i>
					<span class="badge badge-success">7</span>
				</a>
				
				<a href="#" data-toggle="mobile-menu">
					<i class="fa-bars"></i>
				</a>
			</div>
			
		</header>
		
		
		
		<ul id="main-menu" class="main-menu">
			
			<!-- add class "multiple-expanded" to allow multiple submenus to open -->
			
			<!-- class "auto-inherit-active-class" will automatically add "active" class for parent elements who are marked already with class "active" -->
			
			<!-- Admin Dashboard -->
			<% if @current_user.super_admin? || @current_user.has_role?("Site Admin") %>
				<li class="<%= nav_active?('admin/dashboard') ? 'active' : ''  %>">
					<%= link_to raw("<i class=\"linecons-desktop\"></i> <span class='title'>Dashboard</span>"), usman.dashboard_url %>
				</li>

				<li class="<%= nav_active?('admin/users') ? 'active' : ''  %>">
					
					<a href="#">
						<i class="linecons-cog"></i>
						<span class="title">Admin</span>
					</a>

					<ul>
						<li class="<%= nav_class("admin/users") %>">
					    <%= link_to raw("<i class=\"fa-user\"></i> <span class='title'>Manage Users</span>"), usman.users_url %>
					  </li>
					  <li class="<%= nav_class("admin/registrations") %>">
					    <%= link_to raw("<i class=\"fa-mobile\"></i> <span class='title'>Manage Registrations</span>"), usman.registrations_url %>
					  </li>
					</ul>
				</li>
			<% else %>
				<li class="<%= nav_active?('profile/dashboard') ? 'active' : ''  %>">
				<%= link_to raw("<i class=\"linecons-desktop\"></i> <span class='title'>Dashboard</span>"), usman.my_account_url %>
				</li>

				<li class="<%= nav_active?('profile/profile') ? 'active' : ''  %>">
					
					<a href="#">
						<i class="linecons-user"></i>
						<span class="title">My Account</span>
					</a>

					<ul>
						<li class="<%= nav_class("profile/settings") %>">
					    <%= link_to raw("<i class=\"linecons-cog\"></i> <span class='title'>Settings</span>"), "#" %>
					  </li>
					</ul>
				</li>
			<% end %>

			<% if @current_user.super_admin? %>
			<li class="">
				<a href="/xenon/xenon-files/html/dashboard-1.html">
					<i class="linecons-database"></i>
					<span class="title">Master Data</span>
				</a>

				<ul>
					<li class="">
						<%= link_to raw("<i class=\"linecons-diamond\"></i> <span class='title'>Manage Features</span>"), usman.features_url %>
					</li>

					<li class="">
						<%= link_to raw("<i class=\"linecons-graduation-cap\"></i> <span class='title'>Manage Roles</span>"), usman.roles_url %>
					</li>

					<li class="<%= nav_class("admin/users") %>">
						<%= link_to raw("<i class=\"linecons-lock\"></i> <span class='title'>Manage Permissions</span>"), usman.permissions_url %>
					</li>
				</ul>

			</li>
			<% end %>

			<!-- Documentation -->
			<li class="<%= nav_active?('docs/index') ? 'active' : ''  %>">
				<a href="/docs/api/v1/register">
		      <i class="fa-file-code-o"></i>
		      <span class="title">Documentation</span>
		    </a>
			</li>

		</ul>
		
	</div>
	
</div>