<div class="table-responsive"> 
	<table class="table table-hover members-table middle-align">
	  <thead> 
			<tr> 
				<th style="text-align: center;width:60px">#</th> 
				<th style="text-align: center;width:100px"><i class="fa fa-photo"></i></th> 
				<th>Name</th>
				<th style="width:100px;">Status</th>
				<th style="text-align: center;" colspan="2">Actions</th>
			</tr> 
		</thead>
	  <tbody>
	  	<% @features.each_with_index do |feature, i| %>
	  		
	  		<% edit_link = edit_feature_path(id: feature.id) %>
				<% delete_link = feature_path(id: feature.id) %>
				
		    <tr id="tr_feature_<%= feature.id %>">
		      
		      <td class="feature-image"></td>
		      
		      <td class="feature-image" style="text-align: center;">
		        <%= link_to(feature_path(feature), remote: true) do %>
		        	<%= display_image(feature, "feature_image.image.small.url", width: "32", height: "auto", class: "img-rectangle", alt: feature.display_name) %>
		        <% end %>
		      </td>

					<td class="feature-name"><%= link_to feature.name, feature_path(feature), remote: true %></td>

					<td>
						<% if feature.unpublished? %>
							<span class="ml-5 mt-5 label label-default">Un-Published</span>
						<% elsif feature.published? %>
							<span class="ml-5 mt-5 label label-success">Published</span>
						<% elsif feature.disabled? %>
							<span class="ml-5 mt-5 label label-danger">Disabled</span>
						<% end %>
					</td>

					<td class="action-links" style="width:10%">

		        <% case feature.status %>
					  <% when "published" %>
					    <!-- Un-Publish -->
					    <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Un-Publish"), update_status_feature_path(:id =>feature.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
					    
					    <!-- Disable -->
					    <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Disable"), update_status_feature_path(:id =>feature.id, :status =>'disabled'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
					  <% when "unpublished" %>
					    <!-- Approve -->
					    <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Publish"), update_status_feature_path(:id =>feature.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
					    <!-- Disable -->
					    <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Disable"), update_status_feature_path(:id =>feature.id, :status =>'disabled'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
					  <% when "disabled" %>
					    <!-- Un-Publish -->
					    <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Un-Publish"), update_status_feature_path(:id =>feature.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
					    <!-- Approve -->
					    <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Publish"), update_status_feature_path(:id =>feature.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1",:class=>"feature_status" %>
					  <% end %>
		        
		      </td>

		      <td class="action-links" style="width:10%">

		      	<%= link_to raw("<i class=\"linecons-pencil\"></i> Edit Feature"), edit_link, :remote=>true, class: "edit" %>

		        <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" %>

		      </td>

		    </tr>
		  <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= paginate_kuppayam(@features) %>
  </div>
</div>

