<div class="table-responsive"> 
	<table class="table table-hover members-table middle-align">
	  <thead> 
			<tr> 
				<th style="text-align: center;width:60px" class="hidden-sm hidden-xs">#</th>
				<th style="text-align: center;width:100px"><i class="fa fa-photo"></i></th> 
				<th>Name</th>
				<th class="hidden-sm hidden-xs">Class Name</th>
				<th class="hidden-sm hidden-xs">Categorisable</th>
				<th style="width:100px;" class="hidden-sm hidden-xs">Status</th>
				<% if display_manage_links? %>
				<th style="text-align: center;" colspan="2" class="hidden-sm hidden-xs">Actions</th>
				<% end %>
			</tr> 
		</thead>
	  <tbody>
	  	<% @features.each_with_index do |feature, i| %>
	  		
	  		<tr id="tr_feature_<%= feature.id %>">
		      
		      <th scope="row" style="text-align: center;" class="hidden-sm hidden-xs">
				    <% if i < 0 %>
				      <i class="fa fa-check text-success"></i>
				    <% else %>
				      <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
				    <% end %>
				  </th>

				  <td class="display-image">
						<%= display_thumbnail(feature, method_name: "cover_image.image.small_square.url", image_width: "50") %>
					</td>
		      
		      <td class="feature-name"><%= link_to feature.display_name, feature_path(feature), remote: true %></td>

					<td class="feature-name hidden-sm hidden-xs"><%= link_to feature.name, feature_path(feature), remote: true %></td>

					<td class="hidden-sm hidden-xs"><%= feature.display_categorisable %></td>

					<td class="hidden-sm hidden-xs"><%= display_publishable_status(feature) %></td>

		      <% if display_manage_links? %>
			    <td class="action-links hidden-sm hidden-xs" style="width:10%"><%= display_publishable_links(feature) %></td>

			    <td class="action-links hidden-sm hidden-xs" style="width:10%">
			      <%= display_manage_links(feature, @current_user) %>
			    </td>
			    <% end %>
		    </tr>
		    
		  <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= paginate_kuppayam(@features) %>
  </div>
</div>

