<tr id="tr_feature_<%= feature.id %>">
  <th scope="row" style="text-align: center;">
    <% if i < 0 %>
      <i class="fa fa-check text-success"></i>
    <% else %>
      <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
    <% end %>
  </th>

  <td class="display-image">
    <%= display_thumbnail(feature, method_name: "cover_image.image.small_square.url", image_width: "50") %>
  </td>
  
  <td class="feature-name"><%= link_to feature.display_name, feature_path(feature), remote: true %></td>

  <td class="feature-name"><%= link_to feature.name, feature_path(feature), remote: true %></td>

  <td><%= feature.display_categorisable %></td>

  <td class="hidden-sm hidden-xs"><%= display_publishable_status(feature) %></td>

  <% if display_manage_links? %>
  <td class="action-links hidden-sm hidden-xs" style="width:10%"><%= display_publishable_links(feature) %></td>

  <td class="action-links hidden-sm hidden-xs" style="width:10%">
    <%= display_manage_links(feature, @current_user) %>
  </td>
  <% end %>
</tr>