<div id="div_blog_post_show">

  <div class="row">
    
    <!-- <div class="col-md-3 col-sm-12 col-xs-12" style="border-right:1px solid #f1f1f1;">
    	<%# if display_edit_links? %>
	  		<%#= edit_image(@feature, 
	          "feature_image.image.large.url",
	          upload_image_link(@feature, :feature_image, nil ),
	          remove_image_link(@feature, :feature_image, nil ),
	          image_options: {assoc_name: :feature_image }) %>
	    <%# else %>
	    	<%#= display_image(@user, "feature_image.image.large.url", class: "img-inline", alt: @feature.display_name) %>
	    <%# end %>
    </div> -->
    <div class="col-md-9 col-sm-12 col-xs-12" style="border-right:1px solid #f1f1f1;">
    		<%= theme_panel_heading(@feature.display_name) %>
      	<%= theme_panel_sub_heading(@feature.name, "#") %>
      	<%= clear_tag(10) %>
      	<div class="table-responsive mb-50"> 
					<table class="table table-striped table-condensed table-bordered"> 
						<tbody>
							<tr>
								<th>Categorisable</th><td><%= @feature.categorisable ? "Yes" : "No" %></td>
							</tr>
							<tr>
								<th>Created At</th><td><%= @feature.created_at.strftime("%m/%d/%Y - %H:%M:%S") if @feature.created_at %></td>
							</tr>
							<tr>
								<th>Updated At</th><td><%= @feature.updated_at.strftime("%m/%d/%Y - %H:%M:%S") if @feature.updated_at %></td>
							</tr>
							
						</tbody>
					</table>
				</div>
      	<%= clear_tag(10) %>
    </div>

    <% if display_manage_links? %>
    <div class="col-md-3 col-sm-12 col-xs-12">
      <%= display_manage_buttons(@feature) %>
      <%= display_publishable_buttons(@feature) %>
    </div>
    <% end %>
  </div>

  <%= clear_tag(30) %>
  <%= link_to "Close", "#", onclick: "closeGenericModal();", class: "btn btn-primary pull-right" %>
  <%= clear_tag(10) %>
</div>