<% edit_link = edit_admin_feature_path(id: feature.id) %>
<% delete_link = admin_feature_path(id: feature.id) %>

<tr id="tr_feature_<%= feature.id %>">

  <td class="feature-image">
    <a href="#">
      <%= display_image(feature, "profile_picture.image.small.url", width: "32", height: "auto", class: "img-circle", alt: feature.display_name) %>
    </a>
  </td>

  <td class="feature-name"><%= link_to feature.name, admin_feature_path(feature), remote: true %></td>

  <td>
    <% if feature.unpublished? %>
      <span class="ml-5 mt-5 label label-default">Un-Published</span>
    <% elsif feature.published? %>
      <span class="ml-5 mt-5 label label-success">Published</span>
    <% elsif feature.disabled? %>
      <span class="ml-5 mt-5 label label-danger">Disabled</span>
    <% end %>
  </td>

  <td class="action-links" style="width:10%">

    <% case feature.status %>
    <% when "published" %>
      <!-- Un-Publish -->
      <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Un-Publish"), update_status_admin_feature_path(:id =>feature.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
      
      <!-- Disable -->
      <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Disable"), update_status_admin_feature_path(:id =>feature.id, :status =>'disabled'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
    <% when "unpublished" %>
      <!-- Approve -->
      <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Publish"), update_status_admin_feature_path(:id =>feature.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
      <!-- Disable -->
      <%= link_to raw("<i class=\"fa fa-edit mr-5\"></i> Disable"), update_status_admin_feature_path(:id =>feature.id, :status =>'disabled'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
    <% when "disabled" %>
      <!-- Un-Publish -->
      <%= link_to raw("<i class=\"fa fa-circle mr-5\"></i> Un-Publish"), update_status_admin_feature_path(:id =>feature.id, :status =>'unpublished'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1", :class=>"feature_status" %>
      <!-- Approve -->
      <%= link_to raw("<i class=\"fa fa-circle-o mr-5\"></i> Publish"), update_status_admin_feature_path(:id =>feature.id, :status =>'published'), :method =>'PUT', :remote=>true, role: "menuitem", tabindex: "-1",:class=>"feature_status" %>
    <% end %>

  </td>

  <td class="action-links" style="width:10%">

    <%= link_to raw("<i class=\"linecons-pencil\"></i> Edit Feature"), edit_link, :remote=>true, class: "edit" %>

    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" %>

  </td>

</tr>