<div class="table-responsive"> 
	<table class="table table-hover members-table middle-align">
	  <thead> 
			<tr> 
				<th style="text-align: center;width:60px">#</th> 
				<th>Name</th>
				<th style="text-align: center;">Actions</th>
			</tr> 
		</thead>
		
	  <tbody>
	  	<% @roles.each_with_index do |role, i| %>
	  		
	  		<% edit_link = edit_role_path(id: role.id) %>
				<% delete_link = role_path(id: role.id) %>
				
		    <tr id="tr_role_<%= role.id %>">
		      
		      <th scope="row" style="text-align: center;">
						<% if i < 0 %>
							<i class="fa fa-check text-success"></i>
						<% else %>
							<%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
						<% end %>
					</th>

		      <td class="role-name"><%= link_to role.name, role_path(role), remote: true %></td>

					<td class="action-links" style="width:10%">

		      	<%= link_to raw("<i class=\"linecons-pencil\"></i> Edit Role"), edit_link, :remote=>true, class: "edit" if @current_user.super_admin? and role.can_be_edited? %>

		        <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" if @current_user.super_admin? and role.can_be_deleted? %>

		      </td>

		    </tr>
		  <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= paginate_kuppayam(@roles) %>
  </div>
</div>

