<div class="table-responsive"> 
	<table class="table table-hover members-table middle-align">
	  <thead> 
			<tr> 
				<th style=";width:60px" class="hidden-sm hidden-xs">#</th> 
				<th>Name</th>
				<% if display_manage_links? %>
				<th style="text-align: center;" class="hidden-sm hidden-xs">Actions</th>
				<% end %>
			</tr>
		</thead>
		
	  <tbody>
	  	<% @roles.each_with_index do |role, i| %>
	  		
	  		<% edit_link = edit_role_path(id: role.id) %>
				<% delete_link = role_path(id: role.id) %>
				
		    <tr id="tr_role_<%= role.id %>">
		      
		      <th scope="row" style="" class="hidden-sm hidden-xs">
						<% if i < 0 %>
							<i class="fa fa-check text-success"></i>
						<% else %>
							<%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
						<% end %>
					</th>

		      <td class="role-name"><%= link_to role.name, role_path(role), remote: true %></td>

					<% if display_manage_links? %>

				  <td class="action-links hidden-xs hidden-sm" style="width:10%">
				    <%= link_to raw("<i class=\"linecons-pencil\"></i> Edit Role"), edit_link, :remote=>true, class: "edit" if role.can_be_edited? and display_edit_links? %>

				    <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" if role.can_be_deleted? and display_delete_links? %>
				  </td>

				  <% end %>

		    </tr>
		  <% end %>
	  </tbody>
	</table>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= paginate_kuppayam(@roles) %>
  </div>
</div>

