<% edit_link = edit_role_path(id: role.id) %>
<% delete_link = role_path(id: role.id) %>

<tr id="tr_role_<%= role.id %>">

  <th scope="row" style="text-align: center;">
    <% if i < 0 %>
      <i class="fa fa-check text-success"></i>
    <% else %>
      <%= i + 1 + (@per_page.to_i * (@current_page.to_i - 1)) %>
    <% end %>
  </th>

  <td class="role-name"><%= link_to role.name, role_path(role), remote: true %></td>

  <td class="action-links" style="width:10%">

    <% if @current_user.has_update_permission?(Role) %>
      <%= link_to raw("<i class=\"linecons-pencil\"></i> Edit Role"), edit_link, :remote=>true, class: "edit" if @current_user.super_admin? and role.can_be_edited? %>
    <% end %>
    <% if @current_user.has_delete_permission?(Role) %>
      <%= link_to raw("<i class=\"linecons-trash\"></i> Delete"), delete_link, method: :delete, role: "menuitem", tabindex: "-1", data: { confirm: 'Are you sure?' }, :remote=>true, class: "delete" if @current_user.super_admin? and role.can_be_deleted? %>
    <% end %>

  </td>

</tr>